* {
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}

.politics {
    width: 80%;
}

.state, .repDetail {
    text-align: center;
    margin: 15px;
}

input {
    margin: 10px;
}

.houseReps {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.rep {
    width: auto;
    height: 95px;
    border: 10px;
    border-style: outset;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
    text-align: center;
    transition: all 1s ease;
}

.rep:last-child {
    margin-bottom: 145px;
}

.rep:hover {
    border-style: inset;
    background-color: darkcyan;
    cursor: pointer;
}

.repInfo {
    text-align: center;
    border-style: outset;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.D {
    background-color: lightskyblue;
}

.R {
    background-color: lightcoral;
}

.dBorder {
    border-width: 8px;
    border-style: ridge;
    border-color: blue;
}

.rBorder {
    border-width: 8px;
    border-style: ridge;
    border-color: red;
}

.cardContainer {
     width: 400px;
     height: 200px;
     position: relative;
     margin: 50px auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.cardContainer .card.flipped {
    transform: rotatey(-180deg);
}

.card {
    width: 40%;
    margin: 10px;
}

.cardContainer .card {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.cardContainer .card .side {
    background: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    overflow: auto;
}

.cardContainer .card .back {
    background: white;
    color: black;
    transform:rotatey(-180deg);
}

.cardContainer .card .front {
    background: white;
    text-align: center;
    line-height: 160px;
    border: 3px solid white;
}

.cardContainer .card .back {
    border: 3px solid white;
    text-align: center;
    color: black;
    padding-top: 50px;
}

/* .repDetails {
    perspective: 1000px;
}

.repDetails:hover .repInfo{
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 30%;
    height: 30%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.front {
    background-color: #bbb;
    color: black;
}

.back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.card_container {
    display: flex;
    justify-content: center;
}

/* should try this next: https://codepen.io/101Computing/pen/GbOJmE */

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: lightskyblue;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: lightcoral;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.countdownwrapper {
    text-align: center;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: white;
}